<h1>Über sG Media,</h1>
sG Media ist ein Social Network, welches im rahmen einer Bachelor-Abschlussarbeit 
entstanden ist. Das Projekt wurde maßgäblich durch Michael Hartl`s und Aurelius 
Prochazka`s open source Projekt "RailSpaces" beeinflusst.

<br>
Der Grund warum ich mich für RailsSpace entschieden habe ist folgender. 
Zu begin meiner Arbeit hatte ich lediglich Grundlegende fähigkeiten in der 
Programmiersprache Ruby und bis dato hatte ich nur kleinere Projekte mit dem 
Framework Rails umgesetzt. Da meine fazination von Ruby on Rails geweckt 
wurde und ich gerne weiter in die Entwicklung einsteigen wollte entschied ich 
mich dazu die Abschlussarbeit als treibenden Motor zu verwenden und das 
Projekt Railsspace für die aktuelle Version 3 von Ruby on Rails zu 
migrieren.<b> Aktuell gibt es (bis auf meine) keine öffentlich zugängliche
und lauffähige version von RailsSpace unter Rails 3 oder höher.</b>
<br>
<br>
Das open source Projekt RailsSpace wurde im Januar 2007 für die Ruby on Rails 
Version 1.4.3 veröffentlich und umfasst ein in Englisch geschriebenes, 570 
Seiten langes Fachwerk.<b> An dieser stelle möchte ich betonen das ich anhand dieses 
Fachwerk das Projekt eigenständig umgesetzt habe und ein lauffähiges Social 
Network für die Ruby on Rails Version 3.0.6 entwickelt habe.</b> Auf grundlage 
dieser Fakten entwickelte ich folgende Themenidee für meine Abschlussarbeit.
<br>
<br>
<b>Entwurf und Programmierung eines Web-basierten Social-Networks mit Hilfe des 
"Ruby on Rails" Frameworks unter Beachtung von Sicherheitsaspekten.</b>
<br>
<br>
Wie der Titel schon sagt geht es viel um die Eigenanpassung bei der Umsetzung 
sowie um die eigene Ideenintegration. Hinter dem Punkt "Beachtung von Sicherheitsaspekten" 
verbirgt sich u.a. die Weiterentwicklung von Ruby on Rails seid dem Jahr 2007. 
Vieles hat sich in sachen Sicherheit getan. Bei der Umsetzung des Social Networks
habe ich dieses Berücksichtigt und versucht eine sicherheitsbewusste Webanwendung 
zu entwickeln. Es sind funtkionen wie Passwort Hashing mit hilfe von Salt`s entstanden, 
sowie verschlüsselte Secure Cookies und schutzmechanismen vor Injections.
<br>
<br>
In meiner schriftlichen Arbeit bin ich auf folgende grobe Themengebiete eingegangen:
<br>
- Grundlagen<br>
- UML- und Datenbankdiagramme sowie Funktions- und Codeerläuterung<br>
- Implementierung von Sicherheitsaspekten wie z.B. dem Passwort Hashing mit Salt`s oder dem Schnutz gegen Injections<br>
- Neutrale Analyse des entwickelten Social Networks <br>
<br>
<br>
<%= link_to "Download der Bachelor-Abschlussarbeit", "http://www.rubyonrails.org/" %>
<br>
<br>
Author: Stefan Greffenius, Berlin der 11.08.2011