<h1>Über sG Media,</h1>
sG Media ist ein Social Network, welches im rahmen einer Bachelor-Abschlussarbeit 
entstanden ist. Das Projekt wurde maßgäblich durch Michael Hartl`s und Aurelius 
Prochazka`s open source Projekt "RailSpaces" beeinflusst.

<br>
Der Grund warum ich mich für RailsSpace entschieden habe ist folgender. 
Zu begin meiner Arbeit hatte ich lediglich grundlegende Fähigkeiten mit der 
Programmiersprache Ruby und bis dato nur kleinere Projekte mit dem 
Framework Rails umgesetzt. Ich entschied mich die Abschlussarbeit als ansporn 
zu verwenden und das open sorce Projekt Railsspace auf die aktuelle Version 3 
von Ruby on Rails zu migrieren.<b> Aktuell gibt es meines wissens keine 
öffentlich zugängliche und lauffähige Version von RailsSpace unter Rails 3 
oder höher.</b>
<br>
<br>
Das open source Projekt RailsSpace wurde im Januar 2007 für die Ruby on Rails 
Version 1.2.3 veröffentlich und umfasst ein in Englisch geschriebenes, 570 
Seiten langes Fachwerk.<b> Ich möchte betonen das ich anhand dieses 
Fachwerk das Projekt eigenständig umgesetzt und viele Funktionen angepasst habe, 
um eine Lauffähigkeit unter der aktuellen Rails Version 3.0.6 zu gewähren.</b> 
Auf grundlage dieser Fakten entwickelte ich folgende Themenidee für meine Abschlussarbeit.
<br>
<br>
<b>Entwurf und Programmierung eines Web-basierten Social-Networks mit Hilfe des 
"Ruby on Rails" Frameworks unter Beachtung von Sicherheitsaspekten.</b>
<br>
<br>
Bei der Umsetzung dieses Themas habe ich stets versucht erworbenes Wissen bei der 
Anpassung des Projektes zu verwenden. Unter dem Abschnitt "Beachtung von Sicherheitsaspekten" 
verbirgt sich u.a. die Weiterentwicklung von Ruby on Rails seid dem Jahr 2007. 
Da sich viele Sicherheitsaspekte in den letzten 4 Jahre geändert haben wurden diese an die 
neusten Ansprüche angepasst. Es sind Funtkionen für Passwort Hashing mit Salt`s, 
verschlüsselte Secure Cookies und schutzmechanismen gegen Injections entstanden.
<br>
<br>
Inhaltsverzeichnis der Abschlussarbeit 
<a href="#" onclick="Element.toggle('inhalt');return false">Ein-/Ausblenden</a>
<fieldset id="inhalt" style="display: none">
	<legend>Inhaltsverzeichnis</legend>
 		<div class="form_row">
		<p>to do..</p>
	</div>
</fieldset>
<br>
<br>
<%= link_to "Download der Bachelor-Abschlussarbeit", "http://www.rubyonrails.org/" %>
<br>
<br>
Author: Stefan Greffenius, Berlin der 21.08.2011