<h1>Über sG Media,</h1>
sG Media ist ein Social Network, welches im rahmen einer Bachelor-Abschlussarbeit 
entstanden ist. Das Projekt wurde maßgäblich durch Michael Hartl`s und Aurelius 
Prochazka`s open source Projekt "RailSpaces" beeinflusst.

<br>
Der Grund warum ich mich für RailsSpace entschieden habe ist folgender. 
Zu begin meiner Arbeit hatte ich lediglich grundlegende Fähigkeiten mit der 
Programmiersprache Ruby und bis dato nur kleinere Projekte mit dem 
Framework Rails umgesetzt. Ich entschied mich die Abschlussarbeit als ansporn 
zu verwenden und das open sorce Projekt Railsspace auf die aktuelle Version 3 
von Ruby on Rails zu migrieren.<b> Aktuell gibt es meines wissens keine 
öffentlich zugängliche und lauffähige Version von RailsSpace unter Rails 3 
oder höher.</b>
<br>
<br>
Das open source Projekt RailsSpace wurde im Januar 2007 für die Ruby on Rails 
Version 1.2.3 veröffentlich und umfasst ein in Englisch geschriebenes, 570 
Seiten langes Fachwerk.<b> Ich möchte betonen das ich anhand dieses 
Fachwerk das Projekt eigenständig umgesetzt und viele Funktionen angepasst habe, 
um eine Lauffähigkeit unter der aktuellen Rails Version 3.0.6 zu gewähren.</b> 
Auf grundlage dieser Fakten entwickelte ich folgende Themenidee für meine Abschlussarbeit.
<br>
<br>
<b>Entwurf und Programmierung eines Web-basierten Social-Networks mit Hilfe des 
"Ruby on Rails" Frameworks unter Beachtung von Sicherheitsaspekten.</b>
<br>
<br>
Bei der Umsetzung dieses Themas habe ich stets versucht erworbenes Wissen bei der 
Anpassung des Projektes zu verwenden. Unter dem Abschnitt "Beachtung von Sicherheitsaspekten" 
verbirgt sich u.a. die Weiterentwicklung von Ruby on Rails seid dem Jahr 2007. 
Da sich viele Sicherheitsaspekte in den letzten 4 Jahre geändert haben wurden diese an die 
neusten Ansprüche angepasst. Es sind Funtkionen für Passwort Hashing mit Salt`s, 
verschlüsselte Secure Cookies und schutzmechanismen gegen Injections entstanden.
<br>
<br>
Inhaltsverzeichnis der Abschlussarbeit 
<a href="#" onclick="Element.toggle('inhalt');return false">Ein-/Ausblenden</a>
<fieldset id="inhalt" style="display: none">
	<legend>Inhaltsverzeichnis</legend>
 		<div class="form_row">			
		1.	Abkürzungsverzeichnis<br>
		<br>
		2.	Einleitung<br>
		<br>
		3.	Grundlagen<br>
		3.1	Webanwendung<br>
		3.2	Sozial-Network<br>
		3.2.1	Definition<br>
		3.2.2	Geschichte<br>
		3.2.3	Wichtigkeit der sozialen Medien<br>
		3.2.4	Beispiele bekannter Social-Networks<br>
		3.3	Frameworks<br>
		3.4	Verwendete Programmiersprachen<br>
		3.4.1	Ruby<br>
		3.4.2	HTML<br>
		3.4.3	CSS<br>
		3.4.4	Java Script<br>
		3.5	Ruby on Rails<br>
		3.5.1	Framework Vergleich<br>
		3.5.2	Philosophie<br>
		3.5.3	MVC Konzept<br>
		3.5.4	Einrichtung des Ruby on Rails Frameworks<br>
		<br>
		4.	Entwurf und Implementierung der Webanwendung<br>
		4.1	 Die Datenbank<br>
		4.2	Das Grundlayout<br>
		4.3	 Login und Registrierung<br>
		4.4	 Benutzer Informationen<br>
		4.4.1	Basis Informationen<br>
		4.4.2	Detail Informationen<br>
		4.4.3	FAQ<br>
		4.5	 Benutzer Avatar<br>
		4.6	 Das Freund System<br>
		4.7	 Das Nachrichten System<br>
		4.8	 Das Suche System<br>
		<br>
		5.	Berücksichtigung von Sicherheitsaspekten in der Webanwendung<br>
		5.1	 Passwort Hashing<br>
		5.1.1	Warum wird PW Hashing benötigt?<br>
		5.1.2	Implementieren des Passwort Hashings<br>
		5.2	Secure Cookie<br>
		5.2.1	Warum wird der Secure Cookie benötigt?<br>
		5.2.2	Implementierung des Secure Cookies<br>
		5.3	 Programmfehler<br>
		5.3.1	Arten von Programmfehlern<br>
		5.3.2	Verhindern von Programmfehlern<br>
		5.4	Test Units<br>
		5.4.1	Functionals testing<br>
		5.4.2	Integration testing<br>
		5.4.3	Unit testing<br>
		5.5	 Der Schutz durch Ruby on Rails<br>
		5.5.1	Schutz vor Injection<br>
		5.5.2	Schutz vor Cross Site Request Forgery (CSRF)<br>
		5.5.3	Schützen von Attributen<br>
		<br>
		6.	Analyse und Bewertung der Sozial-Network Anwendung<br>
		6.1	Analyse Methoden / Programme<br>
		6.2	Umsetzung<br>
		6.3	Fazit<br>
		<br>
		7.	Zusammenfassung<br>
		<br>
		8.	Ausblick
	</div>
</fieldset>
<br>
<br>
<%= link_to "Download der Bachelor-Abschlussarbeit", "http://www.rubyonrails.org/" %>
<br>
<br>
Author: Stefan Greffenius, Berlin der 21.08.2011