<h1>Hilfe zu sG Media</h1>
Für hilfe stehe ich unter <b>greffeni@fh-brandenburg.de</b> gerne per Mail zur Verfügung!<br>
<br>
<br>
Die Webanwendung wurde in folgenden Browsern erfolgreich getestet:<br>
<br>
- Iron (Chrome) v10.0<br>
- IExplorer v9.0<br>
- Firefox 6.0<br>